<h1>Equipment was successfully updated</h1>
<p>labelled:
	<%= @equipment.labelled %>
</p>
<p>motherboard:
	<%= @equipment.motherboard %>
</p>
<p>so:
	<%= @equipment.so %>
</p>
<p>type_equipment:
	<%= @equipment.type_equipment%>
</p>
<p>ram:
	<%= @equipment.ram %>
</p>
<p>disk:
	<%= @equipment.disk %>
</p>
<p>monitor:
	<%= @equipment.monitor%>
</p>
<p>processor:
	<%= @equipment.processor %>
</p>