<p id="notice"><%= notice %></p>

<h1>Listados</h1>

<table>
  <thead>
    <tr>
      <th>Departament</th>
      <th>Employee</th>
      <th>Equipment</th>
      <th>Printer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listados.each do |listado| %>
      <tr>
        <td><%= listado.departament_id %></td>
        <td><%= listado.employee %></td>
        <td><%= listado.equipment_id %></td>
        <td><%= listado.printer_id %></td>
        <td><%= link_to 'Show', listado %></td>
        <td><%= link_to 'Edit', edit_listado_path(listado) %></td>
        <td><%= link_to 'Destroy', listado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listado', new_listado_path %>
