      <%= render "layouts/admin_nav" %>
<%= render "layouts/admin_side_nav" %>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Lista de Departamentos</h1>
        </div>
        <section>
          <p id="notice"><%= notice %></p>
          <p>
            <strong>Labelled:</strong>
            <%= @printer.labelled %>
          </p>
          <p>
            <strong>Mark:</strong>
            <%= @printer.mark %>
          </p>
          <p>
            <strong>Conect:</strong>
            <%= @printer.conect %>
          </p>
          <%= link_to 'Editar', edit_printer_path(@printer) %> |
          <%= link_to 'Atras', printers_path %>
        </section>
      </div>
    </div>
  </div>
</div>
